// sidebar
$menuText = #6c757d
$menuActiveText = #ffc247
$subMenuActiveText = #6c757d // https://github.com/ElemeFE/element/issues/12951
$menuBg = #FFFFFF
$menuHover = #F9FAFE
$subMenuBg = #FFFFFF
$subMenuHover = #F9FAFE
$sideBarTitleColor = #111111
$sideBarWidth = 210px
// the :export directive is the magic sauce for webpack
:export
  menuText $menuText
  menuActiveText $menuActiveText
  subMenuActiveText $subMenuActiveText
  menuBg $menuBg
  menuHover $menuHover
  subMenuBg $subMenuBg
  subMenuHover $subMenuHover
  sideBarWidth $sideBarWidth
  sideBarTitleColor $sideBarTitleColor
